body {
    --border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 0.9em;
}

#widget {
    height: clamp(300px, 50%, 700px);
    width: clamp(300px, 50%, 900px);
    min-height: 400px;
    min-width: 300px;
    max-height: 700px;
    max-width: 900px;
    padding: 0.8em;
    border: var(--border);
    display: flex;
    flex-direction: column;
    gap: 1em;
    resize: both;
    overflow: hidden;
}

#widget-header {
    height: 5%;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}

#widget-content {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    gap: 1em;
    align-items: center;
}

#widget-plot-container {
    height: 100%;
    width: calc(100% - 4px);
    border: var(--border);
    border-radius: 4px;
    padding: 1px;
}

#widget-menu-top {
    width: 150px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 0.2em;
    border: var(--border);
    border-radius: 4px;
    padding: 0.2em 1em 0.5em;
}

#widget-menu-bottom {
    width: max-content;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    gap: 0.5em;
    border: var(--border);
    border-radius: 4px;
    padding: 0.2em 0.8em;
}

.header {
    padding-right: 0.2em;
}

#widget-menu-bottom > .input-number {
    width: 4em;
    border: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
}

.input-slider {
    max-width: 150px;
    -webkit-appearance: none;
    background-color: rgba(33, 150, 243, 0.6);
    border-radius: 4px;
}

.input-slider::-webkit-slider-runnable-track {
    height: 8px;
    -webkit-appearance: none;
    color: rgba(33, 150, 243, 1);
}

.input-slider::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    height: 15px;
    background: rgba(33, 150, 243, 1);
    border-radius: 50%;
    margin-top: -3px;
}

button {
    border: var(--border);
    border-radius: 4px;
    background: rgba(33, 150, 243, 1);
    transition: all 0.15s linear;
    padding: 0.2em 0.5em;
    color: white;
}
button:hover {
    background: rgba(33, 150, 243, 0.8);
}
